import styled from "styled-components";

const Wrapper = styled.main``;

const {{pascalCase name}} = () => {
  return (
    <Wrapper>
      <h1>{{pascalCase name}}</h1>
    </Wrapper>
  );
};

export default {{pascalCase name}};
